a {
  font-weight: inherit;
}

.pagination li {
  line-height: 1.15;
  width: unset;
  transition: none !important;

  a {
    text-decoration: none !important;
  }
}

pre {
  max-height: 75vh;
}

.theme-default-content:not(.custom) a:hover {
  text-decoration: none;
}