a {
  font-weight: inherit;
  color: inherit;
}

.pagination li {
  line-height: 1.15;
  width: unset;

  a {
    text-decoration: none !important;
  }
}

pre {
  max-height: 75vh;
}

.theme-default-content:not(.custom) {
  .lightbox.active {
    max-width: unset;
  }

  a:hover {
    text-decoration: none;
  }
}